
/*configurações padrôes originais*/
*{
   margin: 0%;
   padding: 0%;
   font-size: 100%;
   box-sizing: border-box;
   border:none;
   outline: none;

}


/*=========================================================
Estilos geral padrão*/

body {

   background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 52, 95));
   font-family: Arial, Helvetica, sans-serif;
   background-repeat: no-repeat;
   background-size: 100% 1300px;
   
   
}
.cabecalho{
   background-image: linear-gradient(130deg, rgb(8, 206, 255), rgb(76, 0, 128), rgb(255, 123, 0));
   box-shadow: 5px 10px 30px black;
   padding: 20px;
   
}

.logopricipal{
   max-width: 20%;
   display: block;
   margin: auto;
}

.logopricipalplayers{

   width: 20%;
   margin-left: 40%;
   text-align: center;
}

.circulofm{
   color: aliceblue;
   font-size: 20px;
   text-decoration: none;
   text-align: center;
   
   
}


.playvideo{
   width: 50%;
   margin: auto;
   display: block;
   margin-top: 2%;

}

.botoes{
   position: absolute;
   top: 50%;
   left: 42%;
   margin: -25px 0 0 -25px;
  
}

.b1{
font-size: 25px;
padding: 10px 62px;
background: -webkit-linear-gradient(left,#9f78fa, #81d0fd );
color: rgb(3, 3, 3);
border-radius: 50px 20px;
text-decoration: none;

}

.b1:hover{
   background: -webkit-linear-gradient(left,#f7f7f7, #ffffff );
   color: #7940ff;
   text-decoration: none;
}

.titfilm{
   font-size: 40px;
   color: #bbe6ff;
   text-align: center;
   margin-top: 2%;
}



/*==========================================================


Área de imagens da pagia inicial para escolha dos filmes*/

.Filmesgeral{
   content: "";
   clear: both;
   display: table;
}

.circulo{
   
   width: 20%;
   margin-left: 4%;
   margin-top: 5%;
   float: left;
}

.coringa{
   
   width: 21%;
   margin-left: 4%;
   margin-top: 5%;
   float: left;
}

.card{
   margin-top: 10%;
   margin-left: 10%;

}

.btn-info{
   margin-left: 15px;
   
}
.btn{
   width: 330px;
}
.card-title{
   text-align: center;
}